{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.collection == 'publications' and post.image %}
  {%- comment -%} Barron-style layout: thumbnail + text side by side {%- endcomment -%}
  <div class="pub-entry">
    <div class="pub-image">
      <img src="{{ base_path }}/images/{{ post.image }}" alt="{{ title }}">
    </div>
    <div class="pub-text">
      <span class="pub-title">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </span>
      <br>
      <span class="pub-authors">{{ post.authors }}</span>
      <br>
      <em>{{ post.venue }}</em>
      {% if post.paperurl or post.codeurl or post.slidesurl or post.bibtexurl or post.first_author %}
        <br>
        <span class="pub-links">
          {% if post.first_author %}<span class="pub-badge">first author</span>{% endif %}
          {% if post.paperurl %}<a href="{{ post.paperurl }}">paper</a>{% endif %}
          {% if post.codeurl %}<a href="{{ post.codeurl }}">code</a>{% endif %}
          {% if post.slidesurl %}<a href="{{ post.slidesurl }}">slides</a>{% endif %}
          {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}">bibtex</a>{% endif %}
        </span>
      {% endif %}
    </div>
  </div>
{% else %}
  {%- comment -%} Default layout for non-publication entries {%- endcomment -%}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>

      {% if post.read_time %}
        <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}

      {% if post.collection == 'publications' %}
        <p>{{ post.authors }}<br>
        <i>{{ post.venue }}</i></p>
      {% elsif post.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
      {% endif %}

      {% if post.excerpt and site.read_more != 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p>
      {% endif %}
    </article>
  </div>
{% endif %}
